.input-helf-width {
    width: 50%;
  }
  table{
  width: 100%;
  }
  
  button{
    width: 20%;
    }
  
  .c-box {
  position: relative;
  top: 0;
  opacity: 1;
  padding: 60px 50px 40px 50px;
  width: 80%;
  background: #fff;
  border-radius: 10px;
  
  mat-card-header{
    justify-content: center;
    font-weight: 700;
  
  }
  }
  